<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <filter>
        <filter-name>UploadFilter</filter-name>
        <filter-class>com.sun.webui.jsf.util.UploadFilter</filter-class>
        <init-param>
            <description>The maximum allowed upload size in bytes.  If this is set to a negative value, there is no maximum.  The default value is 1000000.</description>
            <param-name>maxSize</param-name>
            <param-value>1000000</param-value>
        </init-param>
        <init-param>
            <description>The size (in bytes) of an uploaded file which, if it is exceeded, will cause the file to be written directly to disk instead of stored in memory.  Files smaller than or equal to this size will be stored in memory.  The default value is 4096.</description>
            <param-name>sizeThreshold</param-name>
            <param-value>4096</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UploadFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <init-param>
            <param-name>javax.faces.LIFECYCLE_ID</param-name>
            <param-value>com.sun.faces.lifecycle.PARTIAL</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ExceptionHandlerServlet</servlet-name>
        <servlet-class>com.sun.errorhandler.ExceptionHandler</servlet-class>
        <init-param>
            <param-name>errorHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>errorPort</param-name>
            <param-value>24444</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ThemeServlet</servlet-name>
        <servlet-class>com.sun.webui.theme.ThemeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
        </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>purchase.common.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCManager</servlet-name>
        <servlet-class>purchase.dal.JDBCManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>purchase.servlet.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>purchase.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategServlet</servlet-name>
        <servlet-class>purchase.servlet.CategServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>purchase.common.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdServlet</servlet-name>
        <servlet-class>purchase.servlet.ProdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categselect</servlet-name>
        <servlet-class>purchase.servlet.Categselect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>purchase.servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test1</servlet-name>
        <servlet-class>purchase.servlet.test1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCategory</servlet-name>
        <servlet-class>purchase.servlet.SelectCategory</servlet-class>
    </servlet>
    <servlet><servlet-name>SearchServlet</servlet-name><servlet-class>purchase.servlet.SearchServlet</servlet-class></servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>purchase.servlet.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControl</servlet-name>
        <servlet-class>purchase.servlet.UserControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelect</servlet-name>
        <servlet-class>purchase.servlet.AdminSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToB</servlet-name>
        <servlet-class>purchase.servlet.AddToB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPurchase</servlet-name>
        <servlet-class>purchase.servlet.ConfirmPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasketView</servlet-name>
        <servlet-class>purchase.servlet.BasketView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControl</servlet-name>
        <servlet-class>purchase.servlet.OrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>purchase.common.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrder</servlet-name>
        <servlet-class>purchase.servlet.ConfirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>purchase.servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExceptionHandlerServlet</servlet-name>
        <url-pattern>/error/ExceptionHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemeServlet</servlet-name>
        <url-pattern>/theme/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCManager</servlet-name>
        <url-pattern>/JDBCManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategServlet</servlet-name>
        <url-pattern>/CategServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdServlet</servlet-name>
        <url-pattern>/ProdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categselect</servlet-name>
        <url-pattern>/Categselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test1</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectCategory</servlet-name>
        <url-pattern>/SelectCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/ShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControl</servlet-name>
        <url-pattern>/UserControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelect</servlet-name>
        <url-pattern>/AdminSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToB</servlet-name>
        <url-pattern>/AddToB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPurchase</servlet-name>
        <url-pattern>/ConfirmPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasketView</servlet-name>
        <url-pattern>/BasketView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControl</servlet-name>
        <url-pattern>/OrderControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrder</servlet-name>
        <url-pattern>/ConfirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/Page1.jsp</welcome-file>
        </welcome-file-list>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.FacesException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>com.sun.rave.web.ui.appbase.ApplicationException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jspf</url-pattern>
            <is-xml>true</is-xml>
        </jsp-property-group>
        </jsp-config>
    </web-app>
