/* CSS Document */
.title{
text-align:center;
font-size:30px;
color:#FF6600;
font-style:italic;
}
.contentTable{
background-image: url(table_Middle.gif);
}
.loginForm{
font-size:16px;
font-weight:bold;
background-color:#00CC33;
}
.titleForm{
text-align:center;
font-size:30px;
color:#FF3300;
font-style:inherit;
font-weight:bold;
}
.message{
color:#AA0000;
font-weight:bold;
font-size:18px;
}