<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>web.logIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>web.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>web.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>web.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveRoom</servlet-name>
        <servlet-class>web.saveRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userList</servlet-name>
        <servlet-class>web.userList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userConfirm</servlet-name>
        <servlet-class>web.userConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookServlet</servlet-name>
        <servlet-class>web.bookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveRoom</servlet-name>
        <url-pattern>/saveRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userList</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userConfirm</servlet-name>
        <url-pattern>/userConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookServlet</servlet-name>
        <url-pattern>/bookServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
