<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>logIn</servlet-name>
		<servlet-class>web.logIn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>web.register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userList</servlet-name>
		<servlet-class>web.userList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>confirmUser</servlet-name>
		<servlet-class>web.confirmUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>web.logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>insertCar</servlet-name>
		<servlet-class>web.insertCar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>searchForCar</servlet-name>
		<servlet-class>web.searchForCar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>rentACar</servlet-name>
		<servlet-class>web.rentACar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>insertCategory</servlet-name>
		<servlet-class>web.insertCategory</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>searchForCategory</servlet-name>
		<servlet-class>web.searchForCategory</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logIn</servlet-name>
		<url-pattern>/logIn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userList</servlet-name>
		<url-pattern>/userList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>confirmUser</servlet-name>
		<url-pattern>/confirmUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>insertCar</servlet-name>
		<url-pattern>/insertCar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchForCar</servlet-name>
		<url-pattern>/searchForCar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rentACar</servlet-name>
		<url-pattern>/rentACar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>insertCategory</servlet-name>
		<url-pattern>/insertCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchForCategory</servlet-name>
		<url-pattern>/searchForCategory</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
