<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>servlet.Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>logIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopGetInfo</servlet-name>
        <servlet-class>shopGetInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBrand</servlet-name>
        <servlet-class>addBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productsView</servlet-name>
        <servlet-class>productsView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addChocolate</servlet-name>
        <servlet-class>addChocolate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToBasket</servlet-name>
        <servlet-class>addToBasket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasketView</servlet-name>
        <servlet-class>BasketView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>basketItems</servlet-name>
        <servlet-class>basketItems</servlet-class>
    </servlet>
    <servlet><servlet-name>logOut</servlet-name><servlet-class>logOut</servlet-class></servlet>
    <servlet>
        <servlet-name>confirmPurchase</servlet-name>
        <servlet-class>confirmPurchase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopGetInfo</servlet-name>
        <url-pattern>/shopGetInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBrand</servlet-name>
        <url-pattern>/addBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productsView</servlet-name>
        <url-pattern>/productsView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addChocolate</servlet-name>
        <url-pattern>/addChocolate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToBasket</servlet-name>
        <url-pattern>/addToBasket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasketView</servlet-name>
        <url-pattern>/BasketView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>basketItems</servlet-name>
        <url-pattern>/basketItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmPurchase</servlet-name>
        <url-pattern>/confirmPurchase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
