<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>Servlet.registerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>Servlet.logIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goToReservePage</servlet-name>
        <servlet-class>Servlet.goToReservePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerRoom</servlet-name>
        <servlet-class>Servlet.registerRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>Servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reserveServlet</servlet-name>
        <servlet-class>Servlet.reserveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passengerList</servlet-name>
        <servlet-class>Servlet.passengerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>Servlet.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userUpdate</servlet-name>
        <servlet-class>Servlet.userUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goToReservePage</servlet-name>
        <url-pattern>/goToReservePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerRoom</servlet-name>
        <url-pattern>/registerRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reserveServlet</servlet-name>
        <url-pattern>/reserveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passengerList</servlet-name>
        <url-pattern>/passengerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userUpdate</servlet-name>
        <url-pattern>/userUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
