.content{
background-color: #f7adad;
color: #6a0101;
}
.title{
color: #b52e2e;
font-size: 26px;
font-weight:bold;
background-color: #f7adad;
}
.titleShop{
color: #b52e2e;
font-size: 20px;
font-weight:bold;
background-color: #f7adad;
}
.alert{
color: #543476;
font-size: 26px;
font-weight:bold;
background-color: #f7adad;
}