<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>logIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtea</servlet-name>
        <servlet-class>addtea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllTeas</servlet-name>
        <servlet-class>AllTeas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtobasket</servlet-name>
        <servlet-class>addtobasket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gotobasket</servlet-name>
        <servlet-class>gotobasket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmation</servlet-name>
        <servlet-class>confirmation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtea</servlet-name>
        <url-pattern>/addtea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllTeas</servlet-name>
        <url-pattern>/AllTeas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtobasket</servlet-name>
        <url-pattern>/addtobasket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gotobasket</servlet-name>
        <url-pattern>/gotobasket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmation</servlet-name>
        <url-pattern>/confirmation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
