<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>activateUserServlet</servlet-name>
        <servlet-class>Servlet.activateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMatchServlet</servlet-name>
        <servlet-class>Servlet.addMatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>Servlet.logIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlet.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>Servlet.registerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userListServlet</servlet-name>
        <servlet-class>Servlet.userListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>Servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookViewServlet</servlet-name>
        <servlet-class>Servlet.bookViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookAMatchServlet</servlet-name>
        <servlet-class>Servlet.bookAMatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>activateUserServlet</servlet-name>
        <url-pattern>/activateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMatchServlet</servlet-name>
        <url-pattern>/addMatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userListServlet</servlet-name>
        <url-pattern>/userListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookViewServlet</servlet-name>
        <url-pattern>/bookViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookAMatchServlet</servlet-name>
        <url-pattern>/bookAMatchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
